<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tint.adblock"
    android:installLocation="auto"    
    android:versionCode="2"
    android:versionName="1.0" >
    
    <uses-sdk android:minSdkVersion="14" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/AddonName" >
        <service
            android:name="org.tint.adblock.AddonService"
            android:permission="org.tint.permissions.services.ADDONS"
            android:exported="true" >
            <intent-filter>
                <action android:name="org.tint.intent.action.ADDON" />
                <category android:name="org.tint.intent.category.ADBLOCK_ADDON" />
            </intent-filter>
        </service>
        <activity android:name="org.tint.adblock.Preferences"></activity>
    </application>

</manifest>