<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tint.adblockeraddon"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-sdk android:minSdkVersion="14" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/AddonName" >
        <service
            android:name=".AddonService"
            android:exported="true" >
            <intent-filter>
                <action android:name="org.tint.intent.action.PICK_ADDON" />
                <category android:name="org.tint.intent.category.ADBLOCKER_ADDON" />
            </intent-filter>
        </service>
        <activity android:name="Preferences"></activity>
    </application>

</manifest>